# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/
venv/
.env
.env.*

# Logs/temps
*.log
logs/
*.tmp
*.temp

# Node/Front
node_modules/
dist/
build/

# IDEs
.vscode/
.idea/
*.iml

# SO
Thumbs.db
.DS_Store

# Outros
*.bak
